<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet" requirePermission="false"/>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI"/>
  </configSections>
  <ExtAspNet EnableBigFont="true" DebugMode="true" />
  <FineUI DebugMode="false" />
  <system.web>
    <pages>
      <controls>
        <add assembly="ExtAspNet" namespace="ExtAspNet" tagPrefix="ext"/>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"/>
      </controls>
    </pages>
    <httpModules>
      <add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet"/>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add verb="GET" path="res.axd" type="ExtAspNet.ResourceHandler, ExtAspNet"/>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </httpHandlers>


    <compilation debug="true" targetFramework="4.0" />

  </system.web>

</configuration>
